header, hgroup, nav, footer, figure, figcaption, aside, section, article {
	display: block;
}

body {
	/* Makes the background a particular color. */
	background-color: #00569f;

	/* Creates a background color gradient that stops changing at 100vh. */
    /* Compliant with bullet-point #3. */
	background-image: linear-gradient(white, #00569f 100vh);

    /* This color doesn't look quite right for the text, but it was here already. */
	color: #666666;

    /* Font family looks fine. */
	font-family: Arial, Helvetica, sans-serif;
	
    /* Eliminates strange white box at the bottom of the screen. */
    min-height: 100vh;
}

.resort {
    /* Sets the color for the Pacific Trails Resort name, which appears to be a greyish-blue. */
    /* Compliant with bullet-point #5. */
    color: #6e79aa;

    /* Makes the Resort name bold. */
    font-weight: bold;
}

div#wrapper {
	/* Makes the content area wrapper resize with the viewport. */
    /* Compliant with bullet-points #1 and #2. */
	width: 80%;

	/* Establishes a minimum size for the wrapper. */
    /* Compliant with bullet-point #1. */
	min-width: 600px;

    /* Produces the illusion that the sidebar stretches the length of the #wrapper, when in fact it does not. */
	background-color: lightskyblue;

    /* Allows the content to be centered. */
    margin: auto;

    /* Makes the wrapper fullsize. */
    overflow: hidden;

    /* Provides some space at the top of the screen. */
    margin-top: 25px;
}

div#content {
    /* Creates an illusion of the footer being part of the #content. */
	background-color: white;

    /* Left justify the text. */
	text-align: left;

    /* Allows the sidebar and content to exist adjacent. */
	float: right;

    /* Keeps the sidebar from appearing to spill over. */
	padding: 30px;

    /* Makes the top have no padding as seen in the example images. */
    padding-top: 0;

    /* Keeps it resizable while also aligning properly w/ the footer and navbar. */
	width: calc(100% - 260px);
}

#content img {
    /* Lets the text wrap around while being left-justified. */
    float: left;

    /* Pushes the text away. */
    margin-right: 20px;
}

header {
	/* Changes the title to white. */
	color: white;

	/* Changes the background color. */
	background-color: rgb(2, 0, 54);

	/* Sets the sunset image as the title background. */
	background-image: url("sunset.jpg");
	
	/* Stops the background from repeating. */
	background-repeat: no-repeat;

	/* Pushes the image to the right so the rest is purplish. */
	background-position-x: right;

	/* Takes up the full width available. */
	width: 100%;

    /* Left justify the text. */
    text-align: left;
}

ul {
	/* Makes lists have custom bullet points. */
    /* Compliant with bullet-point #4. */
	list-style-image: url("marker.gif");

    /* Indents the list items. */
    /* Compliant with bullet-point #4. */
    list-style-position: inside;
}

nav {
    /* Justify the text left. */
	text-align: left;

    /* Makes the navbar to the left, otherwise itll try to go above #content. */
	float: left;

	/* Makes the background light blue. */
	background-color: lightskyblue;

	/* Makes the navbar a constant, correct, width. */
    /* Compliant with bullet-point #2. */
	width: 200px;
}

nav ul {
    /* Correct font size. */
	font-size: 1.2em;

	/* Removes the bullet-points. */
    /* Compliant with bullet-point #6. */
	list-style: none;

    /* Embolden. */
    font-weight: bold;
}

nav a {
	/* Removes the links' underlines. */
    /* Compliant with bullet-point #6. */
	text-decoration-line: none;

    /* Sets basic color of the links to a dark purple. */
    color: #00003e;
}

nav a:visited {
	color: #344873;
}

nav a:hover {
	color: #FFFFFF;
}

h1 {
    /* Gets rid of blank space above title box. */
    margin-top: 0;

    /* Gets rid of blank space below title box. */
	margin-bottom: 0;

    /* Adds space between the title box and the title text. */
	padding: 20px;
}

h2 {
    /* Color of the content title. */
	color: #3399CC;
}

h1, h2 {
	font-family: Georgia, "Times New Roman", serif;
}

#contact {
    /* Makes the text slightly smaller. */
	font-size: 90%;
}

dt {
	color: #000033;
}

footer {
    /* Provides the illusion of being part of #content. */
	background-color: white;
	text-align: left;
	float: right;
	/* margin: 0; */

    /* Provides some space. */
	padding: 20px;

    /* Same as #content, but slightly moved to account for different padding (as seen in the example images). */
	width: calc(100% - 240px);

	font-family: Georgia, "Times New Roman", serif;

    /* Font styling. */
    font-style: italic;
    font-size: small;
}

