header, hgroup, nav, footer, figure, figcaption, aside, section, article {
	display: block;
}

body {
	/* Makes the background a particular color. */
	background-color: #00569f;

	/* Creates a background color gradient that stops changing at 100vh. */
	background-image: linear-gradient(white, #00569f 100vh);

	/* color: #666666; */
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}

div#wrapper {
	/* Makes the content area wrapper resize with the viewport. */
	width: 80%;

	/* Establishes a minimum size for the wrapper. */
	min-width: 600px;

	text-align: center;

	background-color: white;
}

div#content {
	background-color: white;
	text-align: left;
	float: right;
	margin: 0;
	padding: 0;
	width: calc(100% - 230px);
}

header {
	/* Changes the title to white. */
	color: white;

	/* Changes the background color. */
	background-color: rgb(2, 0, 54);

	/* Sets the sunset image as the title background. */
	background-image: url("sunset.jpg");
	
	/* Stops the background from repeating. */
	background-repeat: no-repeat;

	/* Pushes the image to the right so the rest is purplish. */
	background-position-x: right;

	/* Takes up the full width available. */
	width: 100%;
}

ul {
	/* Makes lists have custom bullet points. */
	list-style-image: url("marker.gif");
}

nav {
	margin: 0;
	padding: 0;
	text-align: left;
	float: left;

	/* Makes the background light blue. */
	background-color: lightskyblue;

	/* Makes the navbar a constant width. */
	width: 200px;

	/* Makes height stretch its container. */
	height: 100vh;
}

nav ul {
	font-size: 1.2em;

	/* Removes the bullet-points. */
	list-style: none;
}

nav a {
	/* Removes the links' underlines. */
	text-decoration-line: none;
}

nav a:visited {
	color: #344873;
}

nav a:hover {
	color: #FFFFFF;
}

h1 {
	margin-bottom: 0;
	padding: 10px;
}

h2 {
	color: #3399CC;
}

h1, h2 {
	font-family: Georgia, "Times New Roman", serif;
}

#contact {
	font-size: 90%;
}

dt {
	color: #000033;
}

footer {
	clear: both;
	vertical-align: bottom;
	font-family: Georgia, "Times New Roman", serif;
}

